[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/grotius"]
	path = themes/grotius
	url = git@github.com:metbril/hugo-grotius.git
[submodule "themes/indigo"]
	path = themes/indigo
	url = https://github.com/AngeloStavrow/indigo.git
