[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/grotius"]
	path = themes/grotius
	url = https://github.com/metbril/hugo-grotius.git
