<footer class="site-footer">

  <div class="wrapper">
    
    <div>
      <form action="https://duckduckgo.com/">
        <input type="text" name="q">
        <input type="hidden" name="sites" value="robertvanbregt.nl">
        <button type="submit">Zoek</button>
        <button type="reset">Opnieuw</button>
      </form>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title | escape }}</li>
          <li><a href="mailto:{{ site.email }}?subject=Contact%20via%20website">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
