---
slug: {{ slug }}
date: '{{ published }}'
{%- if category %}
tags:
{%- for c in category %}
  - {{ c }}
{%- endfor %}
{%- endif %}
mf2:
  like_of: {{ likeOf }}
{%- if syndicateTo %}
  syndication:
{%- for s in syndicateTo %}
    - {{ s }}
{%- endfor %}
{%- endif %}
---
{{ content | safe }}