---
slug: '{{ published | date('X') }}'
date: '{{ published }}'
{%- if category %}
tags:
{%- for c in category %}
  - {{ c }}
{%- endfor %}
{%- endif %}
{%- if syndicateTo %}
syndicate-to:
{%- for s in syndicateTo %}
  - {{ s }}
{%- endfor %}
{%- endif %}
---
{{ content | safe }}