---
title: '{{ title }}'
slug: {{ published | date('X') }}
date: {{ published }}
{%- if category %}
tags:
{%- for cat in category %}
  - {{ cat }}
{%- endfor %}
{%- endif %}
{%- if mpSyndicateTo %}
syndicate-to:
{%- for s in mpSyndicateTo %}
  - {{ s }}
{%- endfor %}
{%- endif %}
---
{{ content | safe }}